*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

.vscode/
node_modules/
*.gem
yarn.lock
package-lock.json
Gemfile.lock

_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# damn it, bundle
.bundle/
vendor/