/* start custom scss snippet */

@font-face {
    font-family: "JBM";
    src: url("/assets/JetBrainsMono-Bold.ttf");
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, .header__title {
    font-family: "JBM";
    letter-spacing: -.05em;
}

// highlight linked anchor
:target {
   background-color: rgba($select-color, .3);
}

.search-button {
  @include clickable($text-color-3, #555);
}

// header link colour
.header a:hover {
  color: #ffbe6f !important;
}

// make code snippet text size bigger
code {
  font-size: map-get($base, font-size-sm);
}
/* end custom scss snippet */
