/* start custom scss snippet */

@font-face {
    font-family: "JBM";
    src: url("/assets/JetBrainsMono-Bold.ttf");
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, .header__title {
    font-family: "JBM";
    letter-spacing: -.05em;
}

:target {
   background-color: rgba($select-color, .3);
}

/* end custom scss snippet */
